@charset "utf-8";

/* CSS Document */

a {
	text-decoration: none;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

#body {
	background:#b12e16 url('../images/bgrepeat.jpg') repeat-x left top;
}

#main_bg {
	height:100%;
	background:transparent url('../images/bg.jpg') no-repeat center top;
	position:relative;
}

#menuWrap {
	position: fixed;
	top: 70px;
	left: 0;
	height:60%;
	left:-230px;
	z-index:999;
}

#searchBox {
	height:24px;
	width:250px;
	border-right:1px solid gray;
	border-left:1px solid gray;
	position:relative;
	background-color:white;
}

#searchInput {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	width: 220px;
	border:0;
	margin-left:4px;
}

#searchIcon {
	width:15px;
	height:15px;
	position:relative;
	top:2px;
}
#menuUp, #menuDown, #menu {
	border: solid gray 1px;
	width: 250px;
	background-color: #CCC;
	opacity: 0.7;
}

#menuUp, #menuDown {
	text-align: center;
	tex-align: middle;
	height: 25px;
}

#appearArrow {
	position:absolute;
	top:50%; left: 233px;
	width:14px; height:42px;
	background:url(../images/appearArrow.png) 0px 0px no-repeat;
}

#menu {
	overflow:hidden;
	height: 100%;
	opacity: 0.9;
	border: solid gray 1px;
	background: -moz-linear-gradient(top, #D4D4D4, #A1A1A1);
	background: -webkit-gradient(linear, left top, left bottom, from(#D4D4D4), to(#A1A1A1));
	
	text-shadow: 1px 1px 0px #E3E3E3;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform:capitalize;
}

#menu a:hover {
	background: -moz-linear-gradient(top, #A1A1A1, #7D7D7D);
	background: -webkit-gradient(linear, left top, left bottom, from(#A1A1A1), to(#7D7D7D));
	border-radius: .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	color:white;
	text-shadow: 1px 1px 0px #424242;
}

#menu a {
	display: block;
	color: black;
	padding: 4px;	
}

#menu a:active {
	background: #7D7D7D;
}

#menu li{
	list-style-type:none;
}

#menu ul{
	padding-left:15px;
	padding-right:5px;
	margin:0px;
}

#menu .typeRoot{
	padding:5px;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
}

#descBox {
	overflow : auto;
	overflow-x: hidden;
	position: absolute;
	width: 95%;
	right: 5%;
	top: 60px;
	padding: 5px;
}

#descHead {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	letter-spacing: 3px;
	padding: 9px;
	text-align: right;
	text-transform:capitalize;
	text-shadow: 2px 2px 8px #555;
	height:98px;
	color:white;
}

#descCategoryWrap {
	padding:9px;
	height:19px;
	color:wheat;
	position:relative;
	margin-right:0;
	margin-left:auto;
}

#descDistinction, #descCAS, #descService {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing:1px;
	padding-left: 10px;
	float:right;
	
	border-left: 1px dotted gray;
	padding-right:10px;
}

#descDistinction {
	border-left:none;
}

#serviceIcon {
	width:15px;
	height:15px;
	position:relative;
	top:1px;
}

#descService {
	padding-right:0px;
}

#descGen {
	text-indent:50px;
	font-family: 'Maven Pro', cursive;
	font-size:21px;
	text-align:justify;
	padding:5px;
	width:70%;
	margin-right:0px;
	margin-left:auto;
	color: wheat;
}

#descResp, #descDisp {
	text-align:right;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 5px;
	letter-spacing:1px;
	color: #F5DE9F;
}

#descPics{
	float:right;
}

.disp_resp_icon {
	width:22px;
	height:22px;
	position:relative;
	margin-left: 5px;
	vertical-align:bottom;
}

.pics_thumbnails{
	width:50px;
	height:50px;
	margin:5px;
	border:1px solid #F5DE9F;
	opacity:0.8;
}

.pics_thumbnails:hover{
	opacity:1;
}

.highlightResult {
	background-color: #F5FA96;
 -webkit-border-radius: 3px  -moz-border-radius: 3px;
	border-radius: 3px;
}

#footer{
	font-family:'Maven Pro', cursive;
	font-size:13px;	
	position:absolute;
	color:lightgray;
	left:15px;
	bottom:15px;
}
#footer a, #footer a:visited{
	color:#09F;
}
#footer a:hover{
	color:white
}